<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/top.css">
    <title>TOP</title>
    <meta data-n-head="true" name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aldy_verymaccho" />
    <meta property="og:url" content="https://heisei-words.emoemo-no-emo.com/share/<%= @post_word.id %>" />
    <meta property="og:title" content="平成エモエモワード" />
    <meta property="og:description" content="エモエモのエモなエモワード「<%= @post_word.text %>」" />
    <meta property="og:image" content="<%= @post_word.image_url %>" />
    <meta name="twitter:image:src" content="<%= @post_word.image_url %>" data-n-head="true">
</head>
<body>
    <div class="main-box">
   <div class="container">
    <img src="/img/heisei-emo-website-06.png" alt="" class="logo-image">
    <img src="<%= @post_word.image_url %>" alt="" class="content-image">
    <p class="content-text"><%= @post_word.text%></p>
    <div class="add-button">
        <a href="/" class="add-button-a">エモワードを探してみる</a>
    </div>
    <div class="copyright">
       Copyright (C) 2019 heiseiemoemo.All Rights Reserved
    </div>
    </div>
    </div>
</body>
</html>